{% extends 'base.html' %}
{% load static %}
{% block title %} Change password {% endblock %}
{% block content %}
<header>
    <div class="div-header">
        <a href="{% url 'product_app:home' %}">
            <figure class="logo-figure">
                <img src="{% static 'users/images/Blanco.svg' %}" alt="Logo tienda">
            </figure>
        </a>
    </div>
</header>
<main>
    <form method="post" class="container-password">{% csrf_token %}
        <h1>CHANGE PASSWORD</h1>
        <p>Please enter your password:</p>
        {{ form }}
        <button>CHANGE</button>
        <p>Remember your password? <a href="{% url 'users_app:user-login' %}">Back to login</a></p>
    </form>
</main>
{% endblock %}