{% extends 'baseProducts.html' %}
{% load static %}
{% block title %} Main {% endblock %}
{% block content %}
<header class="header">
    <nav class="nav-header">
        <ul class="nav">
            <div class="nav-logo2">
                <a href="{% url 'product_app:home' %}">
                    <figure class="logo-figure">
                        <img src="{% static 'users/images/Blanco.svg' %}" alt="Logo tienda">
                    </figure>
                </a>
            </div>
            <li class="height-li"><a href="{% url 'product_app:playeras' %}">Camisetas</a></li>
            <li class="height-li"><a href="{% url 'product_app:pantalones' %}">Pantalones</a></li>
            <li class="height-li"><a href="{% url 'product_app:sudaderas' %}">Sueters</a></li>
        </ul>
        <div class="menu-icon">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
        <!-- LOGO DE LA EMPRESA -->
        <div class="nav-logo">
            <a href="{% url 'product_app:home' %}">
                <figure class="logo-figure">
                    <img src="{% static 'users/images/Blanco.svg' %}" alt="Logo tienda">
                </figure>
            </a>
        </div>
        <ul class="header-ul">
            <li>
                <a href="#" class="icon-user"></a>
                <ul class="hola">
                    {% if user.is_authenticated %}
                            <li><a class="card-title">¡Bienvenido {{user}}!</a></li>
                            
                            <li><a href="{% url 'users_app:user-new-password' %}">Change password</a></li>
                            
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="card-title">¡Bienvenido!</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'users_app:user-logout' %}" role="button">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'users_app:user-logout' %}" role="button">Login</a></li>
                        {% endif %}
                </ul>
            </li>
            <li>
                <div class="header_cart-avatar">
                    <div class="header_cart">
                        <div class="header_cart--notification">0</div>
                        <img class="icon-card" src="{% static 'users/images/icon-carritoDeCompras.png' %}" alt="cart">
                    </div>
                </div>
            </li>
        </ul>
</header>
<main class="main-container">
    <!-- Contenido del checkout -->
    <section class="content_checkout">
        <article class="gallery_checkout">
            <div class="gallery_checkout_tittle">
                <h2 class="gallery_checkout_tittle-name">Carrito</h2>
            </div>
            
            <div class="details_checkout">
                {% for carrito in object_list %}
                <div class="gallery_checkout_container">
                    <img class="gallery_checkout_container_image" src="{{carrito.producto.image}}" alt="product image">

                    <div class="details_checkout_prices">
                        <h4 class="details_checkout_product-name">{{carrito.producto.name}}</h4>
                        <p class="details_checkout_more-info"></p>
                        <h2 class="details_checkout_before">${{carrito.producto.price}}</h2>
                    </div>
                </div>
                <div class="details_checkout_quantity">
                    <div class="input-checkout">
                        <img class="input-checkout_minus" src="{% static 'users/images/minus-solid.svg' %}" alt="icon minus">
                        <input class="input-checkout_number" type="text" value="{{carrito.cantidad}}">
                        <img class="input-checkout_plus" src="{% static 'users/images/plus-solid.svg' %}" alt="icon plus">
                    </div>  
                    <button class="details_checkout_button-delete">Eliminar</button>    
                </div>
                {% endfor %}
            </div>
        </article>
        <article class="cheackout-modal">
            <h2 class="cheackout-modal_tittle">Total a pagar: $</h2>
            <button class="cheackout-modal_button">Proceder al pago</button>
            <div class="box-pay">
                <h4 class="box-pay_text">Subtotal a pagar: $</h4>
            </div>
        </article>
        
    </section>

</main>
<footer></footer>

<script src="{% static 'users/js/scriptProducto.js' %}"></script>
<script src="{% static 'users/js/script.js' %}"></script>
{% endblock %}
