{% extends 'baseProducts.html' %}
{% load static %}
{% block title %} Main {% endblock %}
{% block content %}
<header class="header">
    <nav class="nav-header">
        <ul class="nav">
            <div class="nav-logo2">
                <a href="{% url 'product_app:home' %}">
                    <figure class="logo-figure">
                        <img src="{% static 'users/images/Blanco.svg' %}" alt="Logo tienda">
                    </figure>
                </a>
            </div>
            <li class="height-li"><a href="{% url 'product_app:playeras' %}">Camisetas</a></li>
            <li class="height-li"><a href="{% url 'product_app:pantalones' %}">Pantalones</a></li>
            <li class="height-li"><a href="{% url 'product_app:sudaderas' %}">Sueters</a></li>
        </ul>
        <div class="menu-icon">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
        <!-- LOGO DE LA EMPRESA -->
        <div class="nav-logo">
            <a href="#">
                <figure class="logo-figure">
                    <img src="{% static 'users/images/Blanco.svg' %}" alt="Logo tienda">
                </figure>
            </a>
        </div>
        <ul class="header-ul">
            <li>
                <a href="#" class="icon-user"></a>
                <ul class="hola">
                    {% if user.is_authenticated %}
                            <li><a class="card-title">¡Bienvenido {{user}}!</a></li>
                            
                            <li><a href="{% url 'users_app:user-new-password' %}">Change password</a></li>
                            
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        {% else %}
                            <li><a class="card-title">¡Bienvenido!</a></li>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'users_app:user-logout' %}" role="button">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'users_app:user-logout' %}" role="button">Login</a></li>
                        {% endif %}
                </ul>
            </li>
            <li>
                <div class="header_cart-avatar">
                    <div class="header_cart">
                        <div class="header_cart--notification">0</div>
                        <img class="icon-card" src="{% static 'users/images/icon-carritoDeCompras.png' %}" alt="cart">
                    </div>
                </div>
            </li>
        </ul>
</header>

<main>
    <section class="main-fondo">
        <picture class="img-main">
            <img class="imagen-fondo900" src="{% static 'users/images/pexels-sam-lion-5709661.jpg' %}" alt="">
            <img class="imagen-fondo1024" src="{% static 'users/images/pexels-tembela-bohle-1884584.jpg' %}" alt="">
        </picture>
    </section>
    <p class="title-container-products">All products</p>
    <section class="continer-section2">
        {% for product in object_list %}
            <form method="GET">
                <a class="continer-pruduct" href="{% url 'product_app:producto' pk=product.id %}">
                    <figure class="product-image">
                        <img src="{{product.image}}" alt="Imagen del producto">
                    </figure>
                    <p class="product-name">{{product.name}}</p>
                    <p class="product-price">${{product.price}}</p>
                </a>
            </form>
        {% endfor %}
    </section>
    <!-- Cart modal -->
    <div class="cart-modal">
        <p class="cart-modal_tittle">Cart</p>
        <div class="cart-modal_checkout-container">
            <div class="cart-modal_details-container">
                <img class="cart-modal_image" src="{{product.image}}" alt="img product">
                <div>
                    <p class="cart-modal_product-container">{{product.name}}</p>
                    <p class="cart-modal_price-container">${{product.price}} x 1 <span>$1,350.00</span></p>
                </div>
                <img class="cart-modal_delete" src="{% static 'users/images/icon-delete.svg' %}" alt="icon delete">
            </div>
            <button class="cart-modal_checkout">Chekout</button>
        </div>
    </div>
</main>
<!-- Gallery modal -->
<div class="modal-gallery_background">
    <article class="modal-gallery">
        <div class="modal-gallery_close-container">
            <img class="modal-gallery_close" src="{% static 'users/images/xmark-solid.svg' %}" alt="icon close">
        </div>
        <img src="{{product.image}}" class="modal-gallery_image-container"></img>
    </article>
</div>
<script src="{% static 'users/js/scriptProducto.js' %}"></script>
<script src="{% static 'users/js/script.js' %}"></script>


{% endblock %}