{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'users/css/styleMain.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <link rel="stylesheet" media="(min-width: 650px)" href="{% static 'users/css/tablet.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/styleRegister.css' %}">
    <link rel="stylesheet" media="((min-width: 650px) and (min-height: 820px))" href="{% static 'users/css/tabletRegister.css' %}" />
    <link rel="stylesheet" href="{% static 'users/css/stylePassword.css' %}">
    <link rel="stylesheet" media="(min-width: 650px)" href="{% static 'users/css/tabletPassword.css' %}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>