.container-login{
    min-width: 290px;
    max-width: 500px;
    max-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}

.container-login input{
    width: 90%;
}

.hola2{
    top: 18px;
    left: 300px;
}

.container-login button{
    width: 90%;
}